html,body,header,#intro{
	height: 100%;
}
header{
	background: url(../img/film-1668918.jpg);
	background-size: cover;
}

.movie-container {
	
	display: flex;
	margin-bottom: 75px;
	justify-content: space-around;
	max-width: 100%;
}

body{
	background: #B2FEFA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}