html,body,header,#intro{
	height: 100%;
}
header{
	background: url(../img/film-1668918.jpg);
	background-size: cover;
}

.navbar {
	background-color: black;
}

.movie-container {
	
	display: flex;
	margin: 38px;
	justify-content: space-around;
	max-width: 100%;
	border: 3px ridge gray;
	padding: 15px 15px ;
	backdrop-filter: blur(10px);
}

body{

background-image: url(../img/popcorn-1433327_1920.jpg);
background-repeat: no-repeat;
background-attachment: fixed;

}

.movie .movie--edit {
	display: none;
}